@charset "UTF-8";
/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/josefin-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/josefin-sans-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/josefin-sans-v20-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url(../fonts/aleo-regular-webfont.woff2) format("woff2"), url(../fonts/aleo-regular-webfont.woff) format("woff");
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a, input, button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

body {
  font-size: 1rem;
  min-width: 350px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.aleo-font, .btn, .title-cmn, .nav__link, .search__btn {
  font-family: "Aleo", serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

#page-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

#mobile-menu-wrap {
  position: fixed;
  background-color: #777676;
  height: 100vh;
  top: 0;
  left: -110%;
  width: 100%;
  max-width: 425px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1000;
}
#mobile-menu-wrap.top {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}

.sidemenu-top {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5474fd;
}

.sidemenu li {
  border-bottom: 1px solid #5474fd;
}
.sidemenu a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
}

.open #page-overlay {
  display: block;
}
.open #mobile-menu-wrap {
  left: 0;
}

#hamburger_menu {
  display: none;
}

.header__content {
  background-color: #0485c1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(18, 18, 18, 0.2);
  box-shadow: inset 0 0 0 2000px rgba(18, 18, 18, 0.2);
}
.header__content .container {
  height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 265px 0 154px;
}
.header__title {
  margin-bottom: 15px;
}
.header__subtitle {
  font-size: 1.375rem;
  letter-spacing: 5.3px;
  margin-bottom: 50px;
}
.header__search {
  margin-bottom: 120px;
}
.header__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  letter-spacing: 2px;
  font-size: 0.875rem;
}
.header__scroll::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 23px;
  left: auto;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__input input {
  width: 500px;
  height: 60px;
  border: none;
  border-radius: 0;
  padding-left: 126px;
  letter-spacing: 2.2px;
}
.search__input input:focus {
  border: 1px solid #5474fd;
  outline: 2px inset #fff;
}
.search__btn {
  width: 150px;
  height: 60px;
  border: 2px solid #fff;
  background-color: #5474fd;
  color: inherit;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 22px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search__btn:hover {
  text-shadow: 0 2px 10px #fff;
  background-color: #496bfe;
}
.search__icon {
  vertical-align: middle;
  margin-left: 9px;
}
.search__icon svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.nav {
  background-color: #5474fd;
  width: 100%;
  height: 80px;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 40px;
}
.nav__link {
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 10px 0;
  position: relative;
}
.nav__link:before, .nav__link:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav__link:before {
  top: 0;
  left: 0;
}
.nav__link:after {
  bottom: 0;
  right: 0;
}
.nav__link:hover:after {
  width: 100%;
}
.nav__link:hover:before {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px #5474fd;
  box-shadow: 0 1px 5px #5474fd;
}
.sticky + main > .choose {
  padding-top: 200px;
}

.choose {
  background-color: #956434;
  background-size: cover;
  background-position: 20% center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.9);
  box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.9);
  padding: 120px 0;
}
.choose__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.choose__text {
  width: 50%;
  padding: 80px 22px 0 0;
}
.choose__pics {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.choose__img {
  margin-bottom: 5px;
  max-width: 348px;
}
.choose__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.choose__img:last-child {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.choose__title {
  margin-bottom: 55px;
}
.choose__descr {
  margin-bottom: 40px;
}
.choose__descr:first-of-type {
  margin-bottom: 28px;
}

.title-cmn {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.descr-cmn {
  line-height: 1.65rem;
  letter-spacing: 0.6px;
  opacity: 0.8;
}

.btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:hover {
  text-shadow: 0 2px 10px #fff;
}
.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: -65px;
  left: -85%;
  background-color: #496bfe;
  width: 250px;
  height: 250px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:hover:after {
  left: -5%;
}

.icon-block {
  background-color: #333;
  padding: 94px 0 120px;
}
.icon-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icon-block__item {
  width: 33.3333%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-block__item:hover .icon-block__text--dblue {
  color: #5474fd;
}
.icon-block__item:hover .icon-block__text--red {
  color: #ff6363;
}
.icon-block__item:hover .icon-block__text--lblue {
  color: #0793e4;
}
.icon-block__item:hover .icon-block__icon {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.icon-block__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.icon-block__icon {
  margin-bottom: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-block__icon svg {
  width: 70px;
  height: 70px;
}

.dblue {
  fill: #5474fd;
}

.red {
  fill: #ff6363;
}

.lblue {
  fill: #0793e4;
}

.arc {
  position: relative;
}

.arc:before,
.arc:after {
  content: url(../svg/arc.svg);
  width: 100%;
  display: block;
  position: absolute;
  top: -61%;
}

.arc:before {
  left: -55%;
  -webkit-transform: scale(1, 0.9);
  -ms-transform: scale(1, 0.9);
  transform: scale(1, 0.9);
}

.arc:after {
  right: -55%;
  -webkit-transform: scale(-1, 0.9);
  -ms-transform: scale(-1, 0.9);
  transform: scale(-1, 0.9);
}

.hotel {
  background-color: #615887;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hotel__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 230px 0 100px;
}

.card {
  max-width: 544px;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 50px 30px;
}
.card__name {
  font-size: 1.25rem;
  margin-bottom: 31px;
}
.card__title {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 22px;
}
.card__descr {
  letter-spacing: -1px;
  margin-bottom: 42px;
}

.view {
  background-color: #d0502c;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.view__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 230px 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.review {
  background-color: #252627;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
  box-shadow: inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
  padding: 108px 0 200px;
}
.review__title {
  text-align: center;
  margin-bottom: 94px;
}
.review__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
}
.review__img {
  width: 40%;
}
.review__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.review__text {
  width: 60%;
  padding: 50px 54px 0;
}
.review__name {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.review__descr {
  text-indent: 30px;
  letter-spacing: -1px;
  position: relative;
}
.review__descr::before {
  font-family: "icomoon";
  content: "ÔÑç";
  position: absolute;
  left: -27px;
  top: -15px;
  font-size: 1.125rem;
  color: #5474fd;
}

.footer {
  background-color: #232323;
  padding: 120px 0 50px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__subtitle {
  margin-bottom: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__link {
  padding: 10px 11px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social__link:hover {
  color: #5474fd;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}