/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/josefin-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/josefin-sans-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/josefin-sans-v20-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url(../fonts/aleo-regular-webfont.woff2) format("woff2"), url(../fonts/aleo-regular-webfont.woff) format("woff");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a, input, button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

body {
  font-size: 1rem;
  min-width: 350px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.aleo-font, .btn, .title-cmn, .nav__link, .search__btn {
  font-family: "Aleo", serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.header__content {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(18, 18, 18, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 265px 0 154px;
}
.header__title {
  margin-bottom: 15px;
}
.header__subtitle {
  font-size: 1.375rem;
  letter-spacing: 5.3px;
  margin-bottom: 50px;
}
.header__search {
  margin-bottom: 120px;
}
.header__scroll {
  display: flex;
  justify-content: center;
  position: relative;
  letter-spacing: 2px;
  font-size: 0.875rem;
}
.header__scroll::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 23px;
  left: auto;
}

.search__form {
  display: flex;
}
.search__input input {
  width: 500px;
  height: 60px;
  border: none;
  padding-left: 126px;
  letter-spacing: 2.2px;
}
.search__btn {
  width: 150px;
  height: 60px;
  border: 2px solid #fff;
  background-color: #5474fd;
  color: inherit;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 22px;
  transition: all 0.3s ease;
}
.search__btn:hover {
  text-shadow: 0 2px 10px #fff;
  background-color: #496bfe;
}
.search__icon {
  vertical-align: middle;
  margin-left: 9px;
}
.search__icon svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.nav {
  background-color: #5474fd;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  transition: all 0.3 ease;
}
.nav .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 40px;
}
.nav__link {
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 10px 0;
  position: relative;
}
.nav__link:before, .nav__link:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s ease-in;
}
.nav__link:before {
  top: 0;
  left: 0;
}
.nav__link:after {
  bottom: 0;
  right: 0;
}
.nav__link:hover:after {
  width: 100%;
}
.nav__link:hover:before {
  width: 100%;
}

.choose {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-position: 20% center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.9);
  padding: 120px 0;
}
.choose__content {
  display: flex;
  justify-content: space-between;
}
.choose__text {
  width: 50%;
  padding: 80px 22px 0 0;
}
.choose__pics {
  width: 43%;
  display: flex;
  flex-direction: column;
}
.choose__img {
  margin-bottom: 5px;
}
.choose__img:last-child {
  align-self: flex-end;
}
.choose__title {
  margin-bottom: 55px;
}
.choose__descr {
  margin-bottom: 40px;
}
.choose__descr:first-of-type {
  margin-bottom: 28px;
}

.title-cmn {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.descr-cmn {
  line-height: 1.65rem;
  letter-spacing: 0.6px;
  opacity: 0.8;
}

.btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:hover {
  text-shadow: 0 2px 10px #fff;
}
.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: -65px;
  left: -85%;
  background-color: #496bfe;
  width: 250px;
  height: 250px;
  z-index: -1;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.btn:hover:after {
  left: -5%;
}

.icon-block {
  background-color: #333;
  padding: 0 0 120px;
}
.icon-block__list {
  display: flex;
}
.icon-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333%;
}
.icon-block__icon {
  margin-bottom: 18px;
}
.icon-block__icon svg {
  width: 70px;
  height: 70px;
}

.dblue {
  fill: #5474fd;
}

.red {
  fill: #ff6363;
}

.lblue {
  fill: #0793e4;
}

.arch-block {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: -40px;
}

.arch-1 {
  transform: scale(1, 0.7);
}

.arch-2 {
  transform: scale(-1, 0.7);
}

.hotel {
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hotel__wrap {
  display: flex;
  padding: 230px 0 100px;
}

.card {
  width: 49%;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 50px 30px;
}
.card__name {
  font-size: 1.25rem;
  margin-bottom: 31px;
}
.card__title {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 22px;
}
.card__descr {
  letter-spacing: -1px;
  margin-bottom: 42px;
}

.view {
  background-image: url(../images/bg-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.view__wrap {
  display: flex;
  padding: 230px 0 100px;
  justify-content: flex-end;
}