@import 'fonts';
@import "hamburger.scss";

$base_size:16;
$mainb:#5474fd;

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, input, button {
    cursor: pointer;
}

img {
    vertical-align: top;
}

body {
    font-size: 1rem;
    min-width: 350px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.aleo-font {
    font-family: "Aleo", serif;
}

.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}

//  Hamburger 
#page-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
}

#mobile-menu-wrap {
    position: fixed;
    background-color: #777676;
    height: 100vh;
    top: 0;
    left: -110%;
    width: 100%;
    max-width: 425px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1000;
    &.top {
        max-width: 100%;
        height: auto;
        min-height: 200px;
    }
}

  .sidemenu-top {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:$mainb;
  }
  .sidemenu {
      li {
          border-bottom: 1px solid $mainb;
      }
      a {
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        font-size: 1.25em;
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        color: #fff;
      }
  }
  .open {
    #page-overlay {
      display: block;
    } 
    #mobile-menu-wrap {
      left: 0;
    }
  }

  #hamburger_menu {
    display: none;
}

// header 

.header {
    
    &__content {
        background-color: #0485c1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-box-shadow:inset 0 0 0 2000px rgba(18, 18, 18, 0.2);
                box-shadow:inset 0 0 0 2000px rgba(18, 18, 18, 0.2);                
        .container {
            height: 740px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 265px 0 154px;
        }
    }
    &__title {
        margin-bottom: 15px;
    }
    &__subtitle {
        @include fz(22);
        letter-spacing: 5.3px;
        margin-bottom: 50px;
    }
    &__search {
        margin-bottom: 120px;
    }
    &__scroll {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        letter-spacing: 2px;
        @include fz(14);
        &::after {
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            position: absolute;
            top: 23px;
            left: auto;
        }
    }  
}

.search {
    &__form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__input {      
        input {     
            width: 500px;
            height: 60px; 
            border: none;
            border-radius: 0;
            padding-left: 126px;
            letter-spacing: 2.2px;
            &:focus {
                border: 1px solid $mainb;
                outline: 2px inset #fff;
            }
        }     
    }
    &__btn {
        width: 150px;
        height: 60px;
        border: 2px solid #fff;
        background-color: $mainb;
        color: inherit;
        @extend .aleo-font;
        @include fz(14);
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 22px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover {
            text-shadow:0 2px 10px #fff;
            background-color: #496bfe;
        }
    }

    &__icon {
        vertical-align: middle;
        margin-left: 9px;
        svg {
            width: 24px;
            height: 24px;
            fill: #fff;
        }
    }
}

.nav {
    background-color: $mainb;   
    width: 100%;
    height: 80px;
    z-index: 10;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;       
    }
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__item + .nav__item {
        margin-left: 40px;
    }

    &__link {
        text-transform: uppercase;
        @extend .aleo-font;
        @include fz(14);
        padding: 10px 0;
        position: relative;
        &:before, &:after {
            content: '';
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;          
        }
        &:before {
            top: 0;
            left: 0;
        }
        &:after {
            bottom: 0;
            right: 0;
        }
        &:hover {
            &:after{
                width: 100%;
            }
            &:before {
                width: 100%;               
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 1px 5px $mainb;
            box-shadow: 0 1px 5px $mainb;
    & + main>.choose {
        padding-top: 200px;
    }
}
  
  // chooose
.choose {
    background-color: #956434;
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;
    -webkit-box-shadow:inset 0 0 0 2000px rgba(51, 51, 51, 0.9);
            box-shadow:inset 0 0 0 2000px rgba(51, 51, 51, 0.9);
    padding: 120px 0;
    &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__text {
        width: 50%;
        padding: 80px 22px 0 0;
    }
    &__pics {
        width: 43%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    &__img {
        margin-bottom: 5px;
        max-width: 348px;
            img {
                width: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
    }
    &__img:last-child {
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
    &__title {
        margin-bottom: 55px;
    }
    &__descr {
        margin-bottom: 40px;
    }
    &__descr:first-of-type {
        margin-bottom: 28px;
    }    
}

.title-cmn {
    @include fz(36);
    @extend .aleo-font;
    font-weight: 400;
    text-transform: capitalize;
}

.descr-cmn {
    line-height: 1.65rem;
    letter-spacing: 0.6px;
    opacity: .8;
}

.btn {
    width: 225px;
    height: 60px;
    background-color: $mainb;
    border: none;
    color: inherit;
    text-transform: uppercase;
    @extend .aleo-font;
    @include fz(16);
    letter-spacing: 1.5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:hover {
        text-shadow:0 2px 10px #fff;
    }
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -65px;
        left: -85%;
        background-color: #496bfe;
        width: 250px;
        height: 250px;
        z-index: -1;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    &:hover:after {
        left: -5%;
    }
}

//icon block 

.icon-block {
    background-color: #333;
    padding: 94px 0 120px;
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__item {       
        width: 33.3333%;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover .icon-block__text {
            &--dblue {
            color: $mainb;
            }
            &--red {
                color: #ff6363;
            }
            &--lblue {
                color: #0793e4;
            }
        }
        &:hover .icon-block__icon {
            -webkit-transform: rotateY(360deg);
                    transform: rotateY(360deg);
        }
    }
    &__link {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__icon {
        margin-bottom: 18px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        svg {
            width: 70px;
            height: 70px;
        }
    }
}

.dblue {
    fill: #5474fd;
}

.red {
    fill: #ff6363;
}

.lblue {
    fill: #0793e4;
}

.arc {
    position: relative;
}

.arc:before,
.arc:after {
    content:url(../svg/arc.svg);
    width: 100%;
    display: block;
    position: absolute;
    top: -61%;
}

.arc:before {   
    left: -55%;
    -webkit-transform: scale(1, .9);
        -ms-transform: scale(1, .9);
            transform: scale(1, .9);
}
.arc:after {
    right: -55%;
    -webkit-transform: scale(-1, .9);
        -ms-transform: scale(-1, .9);
            transform: scale(-1, .9);
}

//hotel block
.hotel {
    background-color: #615887;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 230px 0 100px;
    }
}

.card {
    max-width: 544px;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 50px 30px;
    &__name {
        @include fz(20);
        margin-bottom: 31px;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 22px;
    }
    &__descr {
        letter-spacing: -1px;
        margin-bottom: 42px;
    }
}

.view {
    background-color: #d0502c;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    &__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 230px 0 100px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}

.review {
    background-color: #252627;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-box-shadow:inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
            box-shadow:inset 0 0 0 2000px rgba(35, 35, 35, 0.9);
    padding: 108px 0 200px;
    
    &__title {
        text-align: center;
        margin-bottom: 94px;
    
    }
    &__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #333;
    }

    &__img {
        width: 40%;
            img {
                width: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
    }
    &__text {
        width: 60%;      
        padding: 50px 54px 0;
    }

    &__name {
        @include fz(20);
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__descr {
        text-indent: 30px;
        letter-spacing: -1px;
        position: relative;
        &::before {
            font-family: 'icomoon';
            content: "\f10d";
            position: absolute;
            left: -27px;
            top: -15px;
            @include fz(18);
            color: $mainb;
        }
    }
}

.footer {
    background-color: #232323;
    padding: 120px 0 50px;
    &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__logo {
        margin-bottom: 15px;
    }
    &__subtitle {
        margin-bottom: 20px;
    }
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &__link {
        padding: 10px 11px;
        display: inline-block;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover {
            color: $mainb;
            -webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                    transform: scale(1.4);
        }
    }
}
